.single-stats-box {
    .title {
        display: block;
        font-size: 16px;
    }
    .icon {
        background: rgba(117, 127, 239, 0.1);
        color: var(--heraBlueColor);
        border-radius: 5px;
        text-align: center;
        position: relative;
        font-size: 25px;
        height: 48px;
        width: 48px;

        i {
            left: 0;
            right: 0;
            top: 50%;
            line-height: 1;
            position: absolute;
            transform: translateY(-50%);
        }
        &.bg2 {
            background: rgba(45, 182, 245, 0.1);
            color: #2DB6F5;
        }
        &.bg3 {
            background: rgba(238, 54, 140, 0.1);
            color: #EE368C;
        }
    }
    h3 {
        line-height: 1;
        color: var(--heraBlueColor);
        font: {
            size: 28px;
            family: var(--fontFamily) !important;
        };
        margin: {
            top: 8px;
            bottom: 30px;
        };
    }
    p {
        line-height: initial;
        
        span {
            position: relative;
            padding-left: 30px;

            i {
                transform: translateY(-50%);
                color: var(--blackColor);
                position: absolute;
                margin-top: 2px;
                line-height: 1;
                top: 50%;
                left: 0;
                font: {
                    size: 25px;
                    weight: 700;
                };
            }
        }
        &.up {
            span {
                color: var(--aareRiverColor);

                i {
                    color: var(--aareRiverColor);
                }
            }
        }
        &.down {
            span {
                color: #ee368c;

                i {
                    color: #ee368c;
                }
            }
        }
    }
}
.component-rtl-enabled {
    .single-stats-box {
        p {
            span {
                padding: {
                    left: 0;
                    right: 30px;
                };
                i {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {

    .single-stats-box {
        .title {
            font-size: 14px;
        }
        .icon {
            font-size: 20px;
            height: 40px;
            width: 40px;
        }
        h3 {
            font-size: 22px;
            margin: {
                top: 0;
                bottom: 16px;
            };
        }
        p {
            span {
                padding-left: 29px;
                
                i {
                    font-size: 24px;
                }
            }
        }
    }
    .component-rtl-enabled {
        .single-stats-box {
            p {
                span {
                    padding: {
                        left: 0;
                        right: 29px;
                    };
                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-stats-box {
        .title {
            font-size: 15px;
        }
        .icon {
            font-size: 22px;
            height: 40px;
            width: 40px;
        }
        h3 {
            font-size: 25px;
            margin: {
                top: 10px;
                bottom: 16px;
            };
        }
        p {
            span {
                padding-left: 25px;
    
                i {
                    font-size: 20px;
                }
            }
        }
    }
    .component-rtl-enabled {
        .single-stats-box {
            p {
                span {
                    padding: {
                        left: 0;
                        right: 25px;
                    };
                }
            }
        }
    }

}