.my-currencies-box {
    .buttons-list {
        button {
            margin-right: 25px;
            padding: 0 !important;
            color: var(--paragraphColor);
            font: {
                size: 14px !important;
                weight: normal !important;
            };
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .my-currencies-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        
        table, .table {
            width: 100%;
            border-collapse: collapse;
    
            thead {
                tr {
                    th {
                        background-color: #f7faff;
                        vertical-align: middle;
                        white-space: nowrap;
                        text-align: center;
                        position: relative;
                        padding: 15px 20px;
    
                        &::after {
                            top: 50%;
                            right: 0;
                            width: 1px;
                            content: '';
                            height: 17px;
                            position: absolute;
                            background-color: #e7ebf5;
                            transform: translateY(-50%);
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &:first-child {
                            text-align: start;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 17px 20px;
                        text-align: center;
                        white-space: nowrap;
                        border-bottom-color: #f7faff;
                        border-bottom: 1px solid #F7FAFF;
    
                        &.name-info {
                            font-family: var(--headingFontFamily);

                            img {
                                border-radius: 50%;
                            }
                        }
                        &.up {
                            color: #00b69b;

                            span {
                                position: relative;
                                padding-left: 30px;

                                i {
                                    transform: translateY(-50%);
                                    position: absolute;
                                    margin-top: 2px;
                                    line-height: 1;
                                    top: 50%;
                                    left: 0;
                                    font: {
                                        size: 23px;
                                        weight: 700;
                                    };
                                }
                            }
                        }
                        &.down {
                            color: #ee368c;

                            span {
                                position: relative;
                                padding-left: 30px;

                                i {
                                    transform: translateY(-50%);
                                    position: absolute;
                                    margin-top: 2px;
                                    line-height: 1;
                                    top: 50%;
                                    left: 0;
                                    font: {
                                        size: 23px;
                                        weight: 700;
                                    };
                                }
                            }
                        }
                        button {
                            padding: 0 !important;
                            font-size: 15px !important;
                            color: var(--heraBlueColor);
                        }
                        &:first-child {
                            text-align: start;
                        }
                    }
                }
            }
        }
        &::-webkit-scrollbar {
            -webkit-appearance: none;

            &:vertical {
                width: 10px;
            }
            &:horizontal {
                height: 10px;
            }
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: 2px solid var(--whiteColor);
            background-color: rgba(0, 0, 0, .2);
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;  
            background-color: var(--whiteColor);
        }
    }
    &.component-dark-theme {
        .buttons-list {
            button {
                color: #828690;
            }
        }
        .my-currencies-table {
            table, .table {
                thead {
                    tr {
                        th {
                            background-color: #1d2024;
        
                            &::after {
                                background-color: #363636;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            border-bottom-color: #1f2226;
                        }
                    }
                }
            }
            &::-webkit-scrollbar-thumb {
                border-color: #1f2226;
                background-color: rgba(255, 255, 255, .2);
            }
            &::-webkit-scrollbar-track {
                background-color: #1f2226;
            }
        }
    }
    &.component-rtl-enabled {
        .buttons-list {
            button {
                margin: {
                    right: 0;
                    left: 25px;
                };
                &:last-child {
                    margin-left: 0;
                }
            }
        }
        .my-currencies-table {
            table, .table {
                thead {
                    tr {
                        th {
                            &::after {
                                right: auto;
                                left: 0;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &.up {
                                span {
                                    padding: {
                                        left: 0;
                                        right: 30px;
                                    };
                                    i {
                                        left: auto;
                                        right: 0;
                                    }
                                }
                            }
                            &.down {
                                span {
                                    padding: {
                                        left: 0;
                                        right: 30px;
                                    };
                                    i {
                                        left: auto;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {

    .my-currencies-box {
        .buttons-list {
            button {
                margin-right: 15px;
                font-size: 13px;
            }
        }
        .my-currencies-table {
            table, .table {
                tbody {
                    tr {
                        td {
                            padding: 15px 20px;
        
                            &.name-info {
                                padding-right: 40px;
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .buttons-list {
                button {
                    margin: {
                        right: 0;
                        left: 15px;
                    };
                }
            }
            .my-currencies-table {
                table, .table {
                    tbody {
                        tr {
                            td {
                                &.name-info {
                                    padding: {
                                        right: 20px;
                                        left: 40px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    .my-currencies-box {
        .my-currencies-table {
            table, .table {
                tbody {
                    tr {
                        td {
                            &.name-info {
                                padding-right: 40px;
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .my-currencies-table {
                table, .table {
                    tbody {
                        tr {
                            td {
                                &.name-info {
                                    padding: {
                                        right: 20px;
                                        left: 40px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}